{% load static %}

<html>
    <head>
        <title>Receitas Pedubó</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="{% static 'dist/css/main.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <noscript><link rel="stylesheet" href="{% static 'blog/dist/css/noscript.css' %}"></noscript>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/" class="logo">
									<span class="symbol"><img src="{% static '/images/teste.png' %}" alt="" /></span><span class="title">RECEITAS PEDUBÓ</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							{% if user.is_authenticated %}
								<li><a href="{% url 'logout' %}">Sair</a></li>
								<li><a href="{% url 'receitas' %}">Todas as Receitas</a></li>
								<li><a href="{% url 'new_recipe' %}">Adicionar Receita</a></li>
								<li><a href="{% url 'livro' %}">Acesse os Livros</a></li>
								<li><a href="{% url 'sobre' %}">Sobre o Blog</a></li>
							{% else %}
								<li><a href="{% url 'login' %}">Entrar</a></li>
								<li><a href="{% url 'receitas' %}">Todas as Receitas</a></li>
								<li><a href="{% url 'sobre' %}">Sobre o Blog</a></li>
							{% endif %}
						</ul>
					</nav>

					{% block content %}
					{% endblock %}


				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Que tal nos enviar uma mensagem?</h2>
								<form method="post" action="#	">
									<div class="fields">
										<div class="field half">
											<input type="text" name="name" id="name" placeholder="Nome" />
										</div>
										<div class="field half">
											<input type="email" name="email" id="email" placeholder="Email" />
										</div>
										<div class="field">
											<textarea name="message" id="message" placeholder="Mensagem"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Enviar" class="primary" /></li>
									</ul>
								</form>
							</section>
							<!-- <section>
								<h2>Follow</h2>
								<ul class="icons">
									<li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon brands style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
									<li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="#" class="icon brands style2 fa-500px"><span class="label">500px</span></a></li>
									<li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li>
									<li><a href="#" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
								</ul>
							</section> -->
							<ul class="copyright">
								<li>&copy; Família Freitas. Todos os Direitos Reservados</li><li> Implementação: Gabriel Viscondi</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'dist/js/jquery.min.js' %}"></script>
			<script src="{% static 'dist/js/browser.min.js' %}"></script>
			<script src="{% static 'dist/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'dist/js/util.js' %}"></script>
			<script src="{% static 'dist/js/main.js' %}"></script>

	</body>
</html>