{% extends 'blog/base.html' %}

{% block content %}
<!-- Main -->
<div id="main">
    <div class="inner">
        <h1>{{ receita.name }}</h1>
        <span class="image main"><img src="../{{receita.image}}" alt="" /></span>
        <h2>Nome da Receita</h2>
        <p style = "text-indent : 2em;">{{ receita.name }}</p>
        <h2>Autor(a)</h2>
        <p style = "text-indent : 2em;">{{ receita.author_id }}</p>  
        <h2>Ingredientes</h2>
        <p style = "text-indent : 2em;">{{ receita.ingredients }}</p>
        <h2>Passo a Passo</h2>
        <p style = "text-indent : 2em;">{{ receita.instructions }}</p>
        <div class="boxed"><h2>Dicas</h2>
        <p style = "text-indent : 2em;">{{ receita.hints }}</p></div>        
    </div>
</div>
{% endblock %}

