{% extends 'blog/base.html' %}

{% block content %}
<!-- Main -->
<div id="main">
    <div class="inner">
        <h1><div style="text-align:center">Livros da Vó</div></h1>
        <body>
        <p>Ao todo, 3 livros foram escritos para homenagear e eternizar as receitas da Vó Thereza. Você pode acessar cada um deles abaixo:</p>
        <p>&emsp;&emsp;<a href="https://drive.google.com/file/d/1uWINwtrklXAL8-RPfQ27Go6MhA61ZoJm/view?usp=sharing" target="_blank"><b>Feito para você</b></a>: Com receitas as receitas mais elogiadas e compartilhadas da Vó Thereza.</p>
        <p>&emsp;&emsp;<a href="https://drive.google.com/file/d/1WSR8AbCufMbZ1IMlvw0TLChf8LDAAZyx/view?usp=sharing" target="_blank"><b>Feito novamente para você</b></a>: Com receitas uma nova leva de receitas da Vó Thereza para completar a lista.</p>
        <p>&emsp;&emsp;<a href="https://drive.google.com/file/d/1uhza7ECZcJuCqt6BNZDKI45wwj7JZasW/view?usp=sharing" target="_blank"><b>Feito para todos nós</b></a>: Com receitas as receitas mais elogiadas e compartilhadas da Vó Thereza.</p>

    </div>
</div>
{% endblock %}