{% extends 'blog/base.html' %}

{% block content %}
    <section class="tiles">
    {% for receita in receitas %}
    
        <article class="style1">
            <span class="image">
                <img src="../../static/images/noimg.jpg" alt="" />
            </span>
            <a href="generic.html">
                <h2>{{ receita.name }}</h2>
                <div class="content">
                    <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                </div>
            </a>
        </article>
    {% endfor %}
    </section>
{% endblock %}

