{% extends 'blog/base.html' %}
{% load functions %}

{% block content %}
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <header>
                <h1><div style="text-align:center">Seja Bem-vindo e Bem-vinda!
                <br/>Aqui as receitas da família se encontram, se armazenam, se compartilham e nos encantam.</div></h1>
                <p> <br/><div style="text-align:center"> Assim como a série de livros "Feito para você", esta iniciativa busca manter viva a tradução de cozinha em nossa família. <br> 
                    Fique à vontade para contribuir com as receitas que você mais gosta para quem você mais gosta!</div></br></p>
            </header>
    <section class="tiles">
    {% for receita in receitas %}
    
        <article class= {% random_class %}>
            <span class="image">
                <img src="{{receita.image}}" alt="" />
            </span>
            <a href="generic/{{receita.id}}">
                <h2>{{ receita.name }}</h2>
                <div class="content">
                    <p>{{ receita.short_desc}}</p>
                </div>
            </a>
        </article>
    {% endfor %}
    </section>
    </div>
    </div>
{% endblock %}